<script src="/js/bootstrap.bundle.min.js"></script>

<footer class="text-dark">
    <div class="container-fluid page-footer py-3">
        <div class="row">
            <div class="col-sm 12 col-lg-6 text-center">
                {{ replace .Site.Copyright  "CURRENTYEAR" (now.Format "2006") }}
            </div>
            <div class="col-sm-12 col-lg-6 text-center">
                <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" class="text-muted">About</a>
            </div>
        </div>
    </div>
</footer>

<script>
    let dark_mode = sessionStorage.getItem('dark_mode');

    const setDarkProps = () => {
        icon = document.getElementById("dark-mode-icon").className = "fas fa-sun";
        document.getElementById('logo').src = "/img/white_notext_0.5x.png";
        document.querySelectorAll('.dropdown-menu').forEach( node => node.classList.add("dropdown-menu-dark"));
    };

    const setLightProps = () => {
        icon = document.getElementById("dark-mode-icon").className = "fas fa-moon";
        document.getElementById('logo').src = "/img/black_notext_0.5x.png";
        document.querySelectorAll('.dropdown-menu').forEach( node => node.classList.remove("dropdown-menu-dark"));
    };

    if (dark_mode == null) {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches || dark_mode == "dark") {
            document.body.classList.add("dark-theme");
            sessionStorage.setItem("dark_mode", "dark");
            setDarkProps();
        } else {
            setLightProps();
        }
    } else if (dark_mode == 'dark') {
        document.body.classList.add("dark-theme");
        sessionStorage.setItem("dark_mode", "dark");
        setDarkProps();
    } else {
        document.body.classList.remove("dark-theme");
        sessionStorage.setItem("dark_mode", "light");
        setLightProps();
    }

    const dark = () => {
        let dark_mode = sessionStorage.getItem("dark_mode");
        if (dark_mode == "dark") {
            sessionStorage.setItem("dark_mode", "light");
            setLightProps();
            document.body.classList.remove("dark-theme");
        } else {
            sessionStorage.setItem("dark_mode", "dark");
            setDarkProps();
            document.body.classList.add("dark-theme");
        }
    };
</script>
