<figure class="figure">
    <img src="/img/download.png" class="img-fluid shadow img-thumbnail">
    <figcaption class="figure-caption text-muted px-2 py-2">Running Serpent OS via <code>systemd-nspawn</code></figcaption>
</figure>
