{{ define "title" }}
<title>Blog | Serpent OS</title>
{{ end }}

{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
	<div class="container-fluid px-0 mx-0">
		<div class="container p-5 my-4 shadow br">
			<h2 class="pb-2 border-bottom text-muted">Latest blog posts</h2>
			<p class="lead">Keep up to date with the latest development updates to Serpent OS</p>
		</div>
	</div>

    <div class="container container-gray">
    {{ .Content }}

    {{ range .Paginator.Pages }}
        {{ partial "blogentry.html" . }}
    {{ end }}
    {{ partial "pagination.html" . }}
    </div>

</main>
{{ end }}
